<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pams.repo4odsbpbs.dao.common.AssetQryMapper">

    <sql id="QueryCustinfo_Where_Clause">
      <where>
          a.INST_NO in (select deptid from ptdept start with deptid = #{instNo}  connect by prior deptid = parentdeptid)
          <if test = " custName != null and custName != '' ">
              <![CDATA[ and a.CUST_NAME like '%'||#{custName}||'%' ]]>
          </if>
          <if test = " depStartAmt != null and depStartAmt != 0 ">
              <![CDATA[ and a.DEP_TOTAL >= #{depStartAmt} ]]>
          </if>
          <if test = " depEndAmt != null and depEndAmt != 0 ">
              <![CDATA[ and a.DEP_TOTAL <= #{depEndAmt}  ]]>
          </if>
          <if test = " fundStartAmt != null and fundStartAmt != 0 ">
              <![CDATA[ and a.CURR_AMT >= #{fundStartAmt} ]]>
          </if>
          <if test = " fundEndAmt != null and fundEndAmt != 0 ">
              <![CDATA[ and a.CURR_AMT <= #{fundEndAmt}  ]]>
          </if>
          <if test = " finStartAmt != null and finStartAmt != 0 ">
              <![CDATA[ and a.FIN_TOTAL >= #{finStartAmt} ]]>
          </if>
          <if test = " finEndAmt != null and finEndAmt != 0 ">
              <![CDATA[ and a.FIN_TOTAL <= #{finEndAmt}  ]]>
          </if>
      </where>
    </sql>

    <select id="countRecords" parameterType="pams.repo4odsbpbs.model.common.AssetQryParam" resultType="java.lang.Integer">
          select count(*)
            from QDBG_GJ_CUST_INFO_ALL a
             <include refid="QueryCustinfo_Where_Clause" />
    </select>


    <select id="selectRecords" parameterType="pams.repo4odsbpbs.model.common.AssetQryParam"  resultType="pams.repo4odsbpbs.model.QdbgGjCustInfoAll">
        select  *
            from QDBG_GJ_CUST_INFO_ALL a
          <include refid="QueryCustinfo_Where_Clause" />
        order by a.cust_no
    </select>

    <select id="selectPagedRecords"  parameterType="pams.repo4odsbpbs.model.common.AssetQryParam" resultType="pams.repo4odsbpbs.model.QdbgGjCustInfoAll">
        select *
          from (select t1.*, rownum rnum
                from (
                    select  *
                        from QDBG_GJ_CUST_INFO_ALL a
                        <include refid="QueryCustinfo_Where_Clause" />
                    order by
                       <if test = " sortField != null and sortField != '' ">
                            ${sortField}
                       </if>
                       <if test = " sortOrder != null and sortOrder != '' ">
                            ${sortOrder}
                       </if>
                       , rowid
        ) t1
        <![CDATA[
        where rownum <= #{pagesize}) t2
       where t2.rnum > #{offset}
       ]]>
    </select>
</mapper>