<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pams.repository.dao.largedepflow.LargeDepFlowMapper">

    <sql id="QueryCustinfo_Where_Clause">
      <where>
          a.INST_NO in (select deptid from ptdept start with deptid = #{branchId}  connect by prior deptid = parentdeptid)
          <if test = " startDate != null and startDate != '' ">
                <![CDATA[ and a.TX_DT >= #{startDate} ]]>
          </if>
          <if test = " endDate != null and endDate != '' ">
                <![CDATA[ and a.TX_DT <= #{endDate} ]]>
          </if>
          <if test = " startAmt != null and startAmt != 0 ">
              <![CDATA[ and a.CR_TX_AMT >= #{startAmt} ]]>
          </if>
          <if test = " endAmt != null and endAmt != 0 ">
              <![CDATA[ and a.CR_TX_AMT <= #{endAmt}  ]]>
          </if>
          <if test = " custName != null and custName != '' ">
               and a.CUST_NAME like '%${custName}%'
          </if>
          <if test = " certNo != null and certNo != '' ">
               and a.CUST_NO like '%${certNo}%'
          </if>
          <if test = " currCd != null and currCd != '' and currCd == 'CNY' ">
               and a.CURR_CD = '156'
          </if>
          <if test = " currCd != null and currCd != '' and currCd == 'XXX' ">
               and a.CURR_CD != '156'
          </if>
      </where>
    </sql>

    <!--计算符合查询条件的记录数  -->
    <select id="countLargeDepFlowRecords" parameterType="pams.repository.model.largedepflow.LargeDepFlowVO" resultType="java.lang.Integer">
          select count(*)
            from ODSB_LARGEDEP_FLOW a
             <include refid="QueryCustinfo_Where_Clause" />
    </select>


    <select id="selectLargeDepFlowRecords" parameterType="pams.repository.model.largedepflow.LargeDepFlowVO"  resultMap="pams.repository.dao.OdsbLargedepFlowMapper.BaseResultMap">
        select  *
            from ODSB_LARGEDEP_FLOW a
          <include refid="QueryCustinfo_Where_Clause" />
        order by a.branch_id
    </select>

    <select id="selectPagedLargeDepFlowRecords"  parameterType="pams.repository.model.largedepflow.LargeDepFlowVO" resultMap="pams.repository.dao.OdsbLargedepFlowMapper.BaseResultMap">
        select *
          from (select t1.*, rownum rnum
                from (
                    select  *
                        from ODSB_LARGEDEP_FLOW a
                        <include refid="QueryCustinfo_Where_Clause" />
                    order by
                       <if test = " sortField != null and sortField != '' ">
                            ${sortField}
                       </if>
                       <if test = " sortOrder != null and sortOrder != '' ">
                            ${sortOrder}
                       </if>
                       , rowid
        ) t1
        <![CDATA[
        where rownum <= #{pagesize}) t2
       where t2.rnum > #{offset}
       ]]>
    </select>
</mapper>