/** 整体的基本元素，主要是：字体大小颜色，背景颜色等。 */
body {
	font-size: 12px;
	font-family: SimSun;
	color: black;
	background-color: white;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding: 0px;
}

.bodyBorder {
	margin-top: 10px;
	margin-bottom: 5px;
	margin-left: 10px;
	margin-right: 0px;
}

form {
	
}

table {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	border-collapse: collapse;
	border-right: medium none;
	border-top: medium none;
	font-size: 12px;
	border-left: medium none;
	border-bottom: medium none;
}

table.datapilot {
	cursor: default;
}

table.datapilot button {
	cursor: hand;
	height: 20px;
}

/** 下拉框、文本框的风格控制，消除系统默认的边框，从而保持统一的Delphi风格。 */
select {
	font-family: SimSun;
	font-size: 12px;
	border-right: #c4c4c4 1px solid;
	border-top: #999999 1px solid;
	border-left: #999999 1px solid;
	border-bottom: #c4c4c4 1px solid;
	background-color: white;
	/**	height:23px; */
}

/** input的风格控制，消除系统默认的边框，从而保持统一的Delphi风格。 */
input {
	font-family: verdana;
	font-size: 9pt;
	/*border: #9AB8DA 1px solid;	*/
}

textArea {
	font-family: verdana;
	font-size: 9pt;
	/*border: #9AB8DA 1px solid;	*/
}

/* 激活的编辑框 */
.active_editor {
	FONT-FAMILY: Verdana;
	FONT-SIZE: 9pt;
	BORDER-RIGHT: #3672B6 1px solid;
	BORDER-TOP: #3672B6 1px solid;
	BORDER-LEFT: #3672B6 1px solid;
	BORDER-BOTTOM: #3672B6 1px solid;
	SCROLLBAR-ARROW-COLOR: dimgray;
	SCROLLBAR-FACE-COLOR: #D4E2F6;
	SCROLLBAR-HIGHLIGHT-COLOR: #3672B6;
	SCROLLBAR-SHADOW-COLOR: #3672B6;
	SCROLLBAR-3DLIGHT-COLOR: #e9e9e9;
	SCROLLBAR-DARKSHADOW-COLOR: #e9e9e9;
	BACKGROUND-COLOR: #d1dffe;
	/***  added by jdh at 20040210 ***/
	scrollbar-track-color: #eff4fb;
}

/* 激活的编辑框 */
.error_activeeditor {
	font-family: verdana;
	font-size: 9pt;
	border: blue 1px solid;
	scrollbar-3dlight-color: #C3D3EA;
	scrollbar-arrow-color: black;
	scrollbar-base-color: #cccccc;
	scrollbar-darkshadow-color: white;
	scrollbar-face-color: #F6F9FE;
	scrollbar-highlight-color: white;
	scrollbar-shadow-color: #C3D3EA;
	/***  added by jdh at 20040210 ***/
	scrollbar-track-color: #eff4fb;
}

.error_activeSelect {
	background-color: #C3D3EA;
}

.checkbox {
	font-family: SimSun;
	font-size: 12px;
	border-right: #c4c4c4 1px solid;
	border-top: #999999 1px solid;
	border-left: #999999 1px solid;
	border-bottom: #c4c4c4 1px solid;
	border-width: 0px;
}

fieldset { /*
	 border-bottom-style: groove;
	 border-right-style: groove;
	 border-top-style: groove;
	 border-left-style: groove;
	 border-width: 2px;
	 padding:0px;	 	 
	 margin-bottom:0px;	
	 margin-top:4px;
	 */
	padding-top: 6px;
	margin-left: 8px;
	margin-right: 8px;
}

.text {
	width: 100px;
}

legend {
	color: blue;
	font-size: 12px;
}

tr {
	height: 20px;
}

.divToucss TABLE {
	/*background-color: #d4d0c8;*/
	background-color: #697D96;
	TABLE-LAYOUT: fixed;
}

.divToucss TD {
	OVERFLOW: hidden;
	WHITE-SPACE: nowrap;
}

.divToucss SPAN {
	BORDER-RIGHT: #C3D3EA 0px solid;
	/*BORDER-TOP: #C3D3EA 1px solid;*/
	BORDER-TOP: #697D96 1px solid;
	/*FILTER: Alpha(Opacity=60, FinishOpacity=100, Style=1, StartX=0, StartY=0, FinishX=0, FinishY=50);*/
    FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr = #697D96 , endColorStr = #91A6C1);
	BORDER-LEFT: #C3D3EA 0px solid;
	COLOR: #000000;
	PADDING-TOP: 3px;
	BORDER-BOTTOM: #C3D3EA 2px solid;
	WHITE-SPACE: nowrap;
	overflow: hidden;
	VERTICAL-ALIGN: center;
	BACKGROUND-COLOR: #7387A0;
	OVERFLOW: hidden;
	color: White;
}

.divToucssNofix SPAN {
	BORDER-RIGHT: #ca0000 0px solid;
	BORDER-TOP: #ca0000 1px solid;
	FILTER: Alpha(Opacity = 40, FinishOpacity = 100, Style = 1, StartX = 0, StartY =
		0, FinishX = 0, FinishY = 50);
	BORDER-LEFT: #ca0000 1px solid;
	COLOR: #000000;
	PADDING-TOP: 3px;
	BORDER-BOTTOM: #ca0000 2px solid;
	WHITE-SPACE: nowrap;
	overflow: hidden;
	VERTICAL-ALIGN: center;
	BACKGROUND-COLOR: #ca0000
}

.divTiSkin {
	WIDTH: 100%;
	background-color: #d4d0c8;
}

.divTiSkin TABLE {
	BORDER-COLLAPSE: collapse;
	TABLE-LAYOUT: fixed;
	word-break: keep-all;
}

.divTiSkin TD {
	PADDING-BOTTOM: 0px;
	OVERFLOW: hidden;
	text-overflow: ellipsis;
	WHITE-SPACE: nowrap;
}

.divBottom {
	OVERFLOW: hidden;
	WIDTH: 100%;
	/*
	border-color:#919190;
	border-bottom-style: groove;
	border-width: 1px;
	*/
}

.divBottom TABLE {
	WIDTH: 100%;
	height: 100%;
	background-image: url(gridbottom.gif);
}

.Covert_Button {
	border-right: #c4c4c4 0px solid;
	border-top: #999999 0px solid;
	border-left: #999999 0px solid;
	border-bottom: #c4c4c4 0px solid;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	height: 22px;
	background-image: url(buttonimg.gif);
}

.tdWorkArea {
	PADDING-RIGHT: 12px;
	PADDING-LEFT: 12px;
	PADDING-BOTTOM: 12px;
	PADDING-TOP: 12px
}

.gridOddRow /** 用于在表格体中，奇数行，显示统一效果，包括字体。 */ {
	background-color: white;
}

.gridEvenRow /** 用于在表格体中，偶数行，显示统一效果，包括字体。 */ {
	background-color: white;
}

.gridSelectedHighlight {
	/*background-color: #e4ebfd;*/
    background-color: #FFFF99;
}

/** ************************Frame**************************************************************** */
.topPage {
	
}

.bottomPage {
	border-color: #91B1EF;
	background-color: #91B1EF;
	border-top-style: groove;
	border-width: 2px;
}

.leftPage {
	border-color: #91B1EF;
	background-color: #91B1EF;
	border-bottom-style: groove;
	border-right-style: groove;
	border-top-style: groove;
	border-left-style: groove;
	border-width: 2px;
}

.dockPage {
	background-image: url(splite.gif);
}

.roofPage {
	background-image: url(Index_1.gif);
	width: 100%;
}

.roofbottomPage {
	background-image: url(Index_2.gif);
}

/** ************************Frame**************************************************************** */
.borderDataPilot {
	
}

.borderDataPilot td {
	
}

.borderDataPilot input {
	/*
	border-right: #c4c4c4 0px solid;
	border-top: #999999 0px solid;
	border-left: #999999 0px solid;
	border-bottom: #c4c4c4 0px solid;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	height: 22px;
	background-image: url(buttonimg.gif);
	*/
}

.buttonbgborder {
	border-right: #c4c4c4 0px solid;
	border-top: #999999 0px solid;
	border-left: #999999 0px solid;
	border-bottom: #c4c4c4 0px solid;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 5px;
	padding-bottom: 3px;
	height: 22px;
	background-image: url(buttonimg.gif);
}

/** 鼠标覆盖时，光标变为手的形状，按钮区域呈整体凸起效果。 */
.buttonGrooveActive { /*
	 border-bottom-style: outset;
	 border-right-style: outset;
	 border-top-style: outset;
	 border-left-style: outset;
	 border-left-color: white;
	 border-top-color: white;
	 border-width: 1px;
	 cursor: hand;
	 */
	
}


/** ***************************************Tree**************************************************************** */
.activeTree {
	background-color: #459ae0;
	color: white;
}

.disbaleTree {
	background-color: transparent;
	color: black;
}

/** ************************Frame**************************************************************** */
	/** ***************************************dropdown**************************************************************** */
.dropDownTable {
	background-color: #d4d0c8;
	border-color: #919190;
	border-bottom-style: groove;
	border-right-style: groove;
	border-top-style: groove;
	border-left-style: groove;
	border-width: 1px;
}

.dropDownHead TD {
	background-image: url(buttonimg.gif);
}

/** ***************************************dropdown**************************************************************** */
.quickControlCell {
	padding: 0px;
	margin: 0px;
	height: 24;
	align: right;
}

.cellForText /** 一个td空间，即一个cell，用于承载文本内容。 */ {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	height: 20px;
}

.cellForControlGBR /** 一个td空间，即一个cell，用于承载control元素，比如下拉框、按钮等。 */ {
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
	padding-right: 5px;
	height: 20px;
	border-bottom-style: groove;
	border-right-style: groove;
	border-width: 2px;
}

.cellForDataGridBTR {
	
}

.cellForControlGBTR /** 一个td空间，即一个cell，用于承载control元素，比如下拉框、按钮等。 */ {
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
	padding-right: 5px;
	height: 20px;
	border-bottom-style: groove;
	border-right-style: groove;
	border-top-style: groove;
	border-width: 2px;
}

.shellPane /** 工作台区域的最外层边框。 */ {
	width: 100%;
	height: 100%;
	padding-left: 10px;
}

.whitePane /** 白色作底的面板，通常用于承载目录树和数据表格。 */ {
	background-color: White;
	border-bottom-style: groove;
	border-right-style: groove;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
}

.borderGroove /** 用于在表框等地方产生刻线边框的效果，这种是上下左右四边全刻。 */ {
	border-color: #919190;
	border-bottom-style: groove;
	border-right-style: groove;
	border-top-style: groove;
	border-left-style: groove;
	border-width: 1px;
}

.borderGrooveB /** 用于在表框等地方产生刻线边框的效果，这种是只下边。 */ {
	border-color: #cddcf0;
	border-bottom-style: solid;
	border-width: 8px;
}

.borderGrooveT /** 用于在表框等地方产生刻线边框的效果，这种是只上边。 */ {
	border-color: #919190;
	border-top-style: groove;
	border-width: 1px;
}

.borderGrooveL /** 用于在表框等地方产生刻线边框的效果，这种是只左边。 */ {
	border-color: #919190;
	border-left-style: groove;
	border-width: 1px;
}

.borderGrooveR /** 用于在表框等地方产生刻线边框的效果，这种是只右边。 */ {
	border-color: #919190;
	border-right-style: groove;
	border-width: 1px;
}

.borderGrooveRL /** 用于在表框等地方产生刻线边框的效果，这种是只右边。 */ {
	border-color: #919190;
	border-left-style: groove;
	border-right-style: groove;
	border-width: 1px;
}

.borderGrooveTL /** 用于在表框等地方产生刻线边框的效果，这种是只上边和左边。 */ {
	border-color: #919190;
	border-top-style: groove;
	border-left-style: groove;
	border-width: 1px;
}

.borderGrooveBR /** 用于在表框等地方产生刻线边框的效果，这种是下边和右边。 */ {
	border-color: #919190;
	border-bottom-style: groove;
	border-right-style: groove;
	border-width: 1px;
}

.borderGrooveBTR /** 用于在表框等地方产生刻线边框的效果，这种是下边和右边。 */ {
	border-color: #919190;
	border-bottom-style: groove;
	border-right-style: groove;
	border-top-style: groove;
	border-width: 1px;
}

.borderGrooveBRL /** 用于在表框等地方产生刻线边框的效果，这种是下边和右边和左边。 */ {
	/*border-color:#919190;*/
	border-color: #cddcf0;
	/*border-bottom-style: groove;*/
	border-right-style: solid;
	/*border-left-style: groove;*/
	border-width: 1px;
}

.borderGrooveTRL /** 用于在表框等地方产生刻线边框的效果，这种是上边和右边和左边。 */ {
	border-color: #919190;
	border-top-style: groove;
	border-right-style: groove;
	border-left-style: groove;
	border-width: 1px;
}

.borderNoneCheckbox /** 用于消除checkbox的系统默认存在的外层边框，从而保持Delphi的风格。 */ {
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	border-bottom-style: none;
}

.borderNone /** 无框。 */ {
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	border-bottom-style: none;
}

.mouseHoverTextActive /** 鼠标覆盖时，光标变为手的形状，字体颜色改变。*/ {
	cursor: hand;
}

.titleText /** 使用在承载标题的td上。 */ {
	font-size: 15;
	font-weight: bold;
	text-align: left;
	border-width: 2;
	border-bottom-style: groove;
	border-left-style: groove;
	padding-bottom: 2px;
	padding-left: 10px;
}

.titleSpacer {
	filter: Alpha(Opacity = 100, finishX = 75, finishopacity = 0, style = 1)
		;
}

.toolBarSplit /** 工具栏上的工具图标的分割竖线：实际上是一个只有右边border的grid。 */ {
	position: relative;
	border-right-style: groove;
	border-bottom-style: none;
	border-left-style: none;
	border-top-style: none;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 1px;
}

.toolBar /** 工具栏（条），用于承载按钮等操作元素。经常使用的是其底边刻线。 */ {
	position: relative;
	border-right-style: none;
	border-bottom-style: groove;
	border-left-style: none;
	border-top-style: none;
	border-width: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

/** 鼠标覆盖时，光标变为手的形状，按钮区域呈整体凸起效果。 */
.buttonGrooveActive { /*
	 border-bottom-style: outset;
	 border-right-style: outset;
	 border-top-style: outset;
	 border-left-style: outset;
	 border-left-color: white;
	 border-top-color: white;
	 border-width: 1px;
	 cursor: hand;
	 */
	height: 22px;
	width:80px;	
}
/** 按钮区域的不活动状态。字体颜色变为灰色不可用。 */
.buttonGrooveDisable  {
	height: 22px;
	width:80px;
}
/**excel按钮*/
.buttonGrooveDisableExcel {
	height: 22px;
	width:80px;
}

.scrollpane {
	height: 350px;
}

.statusBarText /** 用于显示作为状态信息的文字，通常用在DataGrid的底部和整个系统界面的底部信息栏（条）。 */ {
	padding-left: 5px;
}

.textfieldReadonly {
	background-color: #ca0000;
}

.calenderPane {
	font-size: 8;
	font-family: Verdana;
	font-weight: lighter;
	background-color: #f1f5fe;
	height: 120px;
	width: 160px;
}

.calenderButton {
	font-size: 8;
	font-family: Webdings;
	height: 20px;
	width: 15px;
}

.calenderGridHighlight {
	background-color: Gray;
	border-color: #919190;
	border-bottom-style: groove;
	border-right-style: groove;
	border-width: 1px;
}

.calenderGrid {
	border-color: #919190;
	border-bottom-style: groove;
	border-right-style: groove;
	border-width: 1px;
}

.monthPane {
	font-size: 8;
	font-family: Verdana;
	font-weight: lighter;
	background-color: #d4d0c8;
	height: 20px;
	width: 150px;
}

.loginTitle {
	color: Gray;
	font-size: 40;
	font-weight: bold;
}

/** TabPage ****************************************************************** */
.tabTD {
	background-color: #ca0000;
	border-top: black 1px solid;
}

.actTD {
	background-color: #ca0000;
	border-top: black 1px solid;
}

.tabButton {
	background-color: #FFFFFF;
	font-size: 9pt;
	cursor: hand;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	border-bottom-style: none;
}

.actButton /** 选中的 */ {
	background-color: #ca0000;
	font-size: 9pt;
	cursor: hand;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	border-bottom-style: none;
}

.endTD {
	background-color: white;
	width: 100%;
}

h3 {
	font-size: 12pt;
}

/*

DIV {
	scrollbar-face-color: #f2f5fb;
	scrollbar-highlight-color: #cccccc;
	scrollbar-shadow-color: gray;
	scrollbar-3dlight-color: gray;
	scrollbar-arrow-color: black;
	scrollbar-darkshadow-color: white;
	scrollbar-base-color: #cccccc;
}
*/

/** 界面使用 */
.wstz {
	font-family: "宋体";
	font-size: 12px;
	line-height: 16px;
}

.kk {
	font-family: "宋体";
	font-size: 12px;
	border: 1px solid #F0EBF1;
	background-color: #FFFFFF;
}

.jg {
	font-family: "宋体";
	font-size: 9px;
}

.style3 {
	font-size: 12px;
	color: #ffffff;
	background: #7d99ff;
	border: 3px double #7d99ff;
	width: auto;
	height: 21px;
	left: 1px;
	top: 1px;
	right: 1px;
	bottom: 1px;
	padding: 1px;
	margin: 3px;
}

.style4 {
	font-size: 12px;
	color: #ffffff;
	background: #1f4eff repeat-x;
	border: 3px double #1f4eff;
	width: auto;
	height: 21px;
	margin: 3px;
	padding: 1px;
	left: 1px;
	top: 1px;
	right: 1px;
	bottom: 1px;
}

.style5 {
	font-size: 12px;
	color: #ffffff;
	background: #7d99ff;
	border: 3px double #7d99ff;
	width: auto;
	height: 21px;
	left: 1px;
	top: 1px;
	right: 1px;
	bottom: 1px;
	padding: 1px;
	margin: 3px;
}

.style6 {
	font-size: 12px;
	color: #ffffff;
	background: #1f4eff repeat-x;
	border: 3px double #1f4eff;
	width: auto;
	height: 21px;
	margin: 3px;
	padding: 1px;
	left: 1px;
	top: 1px;
	right: 1px;
	bottom: 1px;
}

.f14 {
	font-family: "宋体";
	font-size: 14px;
}

.bg {
	background-repeat: repeat-y;
}

a {
	color: Navy;
	text-decoration: none;
}

a:hover {
	color: Blue;
}

.tablefill {
	width: 720px;
	align: center
}

.tdfill {
	height: 300px
}

/* BODY 画面全体の色、マ`ジン、幅 */
.Bodydefault { /*background-color: #EDF0F4; /* 背景色： (薄い黄色) */
	margin: 0px; /* マ`ジン：0px */
	width: 100%; /* 横幅：100％ */
}

.lbl_right_padding { /*width: 180px; /* 横幅：180ピクセル */
	/*border: none; /* ボ`ダ`：oし */
	border: #C0C0C0 1px solid; /* ボ`ダ`：色SILVER 、1ピクセル、g */
	background-color: #AFBDD0; /* 背景色： (薄青) */
	text-align: right; /* テキストの配置：右寄せ */
	font-size: 9pt; /* フォントの大きさ：9pt */
	padding: 0px 5px 0px 5px;
    color:#525152;
}
/*表示专用，行长度专用*/
.lblWidth {
    width:14%;
    text-align:right;
    
}
/* ■表示用　文字列（左） */
.data_input {
	text-align: left; /* テキストの配置：左寄せ */
	background-color: #F5F5F5; /* 背景色：WHITESMOKE */
	border: #C0C0C0 1px solid; /* ボ`ダ`：色SILVER 、1ピクセル、g */
	font-weight: normal; /* フォントの太さ：太字 */
	letter-spacing: 1px; /* 文字g　1px */
	font-size: 9pt; /* フォントサイズ：9ポイント */
}
.data_input_width {
    width:24%;
}
.msg_input_width {
    width:12%;
}

/* ■文字列（表内）左*/
TD.dt_left_padding {
	text-align: left; /* テキストの配置：左 */ /* 2005.03.09 NAKAJIMA CHANGE */
	/*border : #808080 2px solid ;		/* ボ`ダ`：色GRAY、2ピクセル、g */
	/*border: #000000 1px solid; /* ボ`ダ`：色BLACK、1ピクセル、g */
	padding: 0px 5px 0px 5px;
}

/* ■剩ㄖ醒搿パディングなし）<TD>挨酥付 */
TD.dt_center {
	text-align: center; /* テキストの配置：中央 */ /* 2005.03.09 NAKAJIMA CHANGE */
	/*border : #808080 2px solid ;		/* ボ`ダ`：色GRAY、2ピクセル、g */
	/*border: #000000 1px solid; /* ボ`ダ`：色BLACK、1ピクセル、g */
}

/* ■数（表内）右 */
TD.dt_right_padding {
	text-align: right; /* テキストの配置：右 */ /* 2005.03.09 NAKAJIMA CHANGE */
	/*border : #808080 2px solid ;		/* ボ`ダ`：色GRAY、2ピクセル、g */
	/*border: #000000 1px solid; /* ボ`ダ`：色BLACK、1ピクセル、g */
	padding: 0px 5px 0px 5px;
}

.red_star {
	color: #FF0000
}

.inputHighlighted { /* Highlighting style */
	background-color: #317082;
	color: #FFF;
	width: 300px;
	border: 1px solid #000;
}

.inputReadonly { /* Highlighting style */
	background-color: #F5F5F5;
	color: black;
}

.queryPanalDiv {
    width: 100%;
    margin: 5px auto;
    padding: 2px, 20px, 2px, 20px;
    text-align: center; /*border: 1px #1E7ACE solid;*/
}

.queryDiv {
    width: 90%;
    margin: 0px auto;
    padding: 2px, 1px, 1px, 1px;
    text-align: center; /*border: 1px #1E7ACE solid;*/
}

.queryButtonDiv {
    width: 100%;
    margin: 5px auto;
    padding: 10px, 5px, 2px, 2px;
    text-align: center; /*border: 1px #1E7ACE solid;*/
}

